body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #91c2e0;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    
}

footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.error {
    color: red;
    font-weight: bold;
    margin: 20px;
}